<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Smart-Home</title>
</head>
<body>
    <main>

        <div class="dashboard">
            <!-- Profile -->
            <div class="card Profile">
                <div style="display: flex; align-items: center;">
                    <span class="material-icons icon">home</span>
                    <div style="margin-left: 16px;">
                        <div class="title"><h2>Bevenuto Mario</h2></div>
                        <div class="subtitle">Ecco la tua dashboard personale</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Services -->
        <div class="dashboard Services">

            <!-- Light -->
            <div class="card Light">
                <div class="card-content">
                    <span class="material-icons icon">wb_incandescent</span>
                    <div class="title">Luce</div>
                </div>
                <div class="material-icons arrow">arrow_forward_ios</div>
            </div>


            <!-- Alarm -->
           <div class="card Alarm">
                <div class="card-content">
                    <span class="material-icons icon">security</span>
                    <div class="title">Allarme</div>
                </div>
                <div class="material-icons arrow">arrow_forward_ios</div>
           </div>

            <!-- Temperature -->
            <div class="card Temperature">
                <div class="card-content">
                    <span class="material-icons icon">thermostat</span>
                    <div class="title">Temperatura</div>
                </div>
                <div class="material-icons arrow">arrow_forward_ios</div>
            </div>

            <!-- Connectivity -->
            <div class="card Connectivity">
                <div class="card-content">
                    <span class="material-icons icon">wifi</span>
                    <div class="title">Connessione...</div>
                </div>
                <div class="material-icons arrow">arrow_forward_ios</div>
            </div>

        </div>
    </main>
</body>


<footer class="footer">
    <p>&copy; 2025 Smart Home. Tutti i diritti riservati.</p>
</footer>

</html>